<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="Tenduke.Client.WPFSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <probing privatePath="x86" />
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tenduke.Client.WinBase" publicKeyToken="38b2ba6ae9109e92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tenduke.Client" publicKeyToken="38b2ba6ae9109e92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.2.0" newVersion="3.4.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<applicationSettings>
    <Tenduke.Client.WPFSample.Properties.Settings>
        <setting name="AuthzUri" serializeAs="String">
            <value>https://genco-dev.10duke.net/user/oauth20/authz</value>
        </setting>
        <setting name="TokenUri" serializeAs="String">
            <value>https://genco-dev.10duke.net/user/oauth20/token</value>
        </setting>
        <setting name="UserInfoUri" serializeAs="String">
            <value>https://genco-dev.10duke.net/user/info</value>
        </setting>
        <setting name="ClientID" serializeAs="String">
            <value>SampleAppWPF</value>
        </setting>
        <setting name="ClientSecret" serializeAs="String">
            <value />
        </setting>
        <setting name="RedirectUri" serializeAs="String">
            <value>oob:SampleApp</value>
        </setting>
        <setting name="Scope" serializeAs="String">
            <value>openid profile email</value>
        </setting>
        <setting name="StoreAuthorization" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="ShowRememberMe" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AllowInsecureCerts" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="SignerKey" serializeAs="String">
            <value>https://genco-dev.10duke.net/user/.well-known/jwks.json</value>
        </setting>
    </Tenduke.Client.WPFSample.Properties.Settings>
  </applicationSettings>
</configuration>