<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tenduke.Client.WPFSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Tenduke.Client.WPFSample.Properties.Settings>
            <setting name="AuthzUri" serializeAs="String">
                <value>https://dominos-poc.10duke.com/oauth2/authz/</value>
            </setting>
            <setting name="TokenUri" serializeAs="String">
                <value>https://dominos-poc.10duke.com/oauth2/access/</value>
            </setting>
            <setting name="UserInfoUri" serializeAs="String">
                <value>https://dominos-poc.10duke.com/userinfo/</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>SampleApp</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>YohSi-u3</value>
            </setting>
            <setting name="RedirectUri" serializeAs="String">
                <value>oob:SampleApp</value>
            </setting>
            <setting name="Scope" serializeAs="String">
                <value>openid profile email</value>
            </setting>
            <setting name="SignerKey" serializeAs="String">
                <value>-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1wRc5dsWBbIJfxay3SYP
MYp/BaLEt0b26/QtwQbrKq6hgVH+euMWsSk6gf0GZiwHMFF+t8/WcsNOfcYMBEHV
mGWSFeYb63IcFN+v3h2580kANzuKuqYnBeBOCN56lJf8q5FOUYQKFVuX/bvEKp+L
1KkMErmIm9e5fkw70zCngxoXGK6qyWX01SPTVfd3UZdPv1H+VOoEpbDsI2yhg5xR
jFAAsqyTYvHQaixiJqqw/T8+2/ond8AlxpzCa1UK9x2l1lMezlwHTHXyPh2ZMpwe
lDBIosKLPHbaZyNwpU0iGOvrDJo8xlw4qGm/fClbaEWM8BCdbn/aKjWMN/t7FEaQ
TQIDAQAB
-----END PUBLIC KEY-----</value>
            </setting>
            <setting name="StoreAuthorization" serializeAs="String">
                <value>False</value>
            </setting>
        </Tenduke.Client.WPFSample.Properties.Settings>
    </applicationSettings>
</configuration>