<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tenduke.Client.WinFormsSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Tenduke.Client.WinFormsSample.Properties.Settings>
      <setting name="AuthzUri" serializeAs="String">
        <value>https://genco-dev.10duke.net/user/oauth20/authz</value>
      </setting>
      <setting name="TokenUri" serializeAs="String">
        <value>https://genco-dev.10duke.net/user/oauth20/token</value>
      </setting>
      <setting name="UserInfoUri" serializeAs="String">
        <value>https://genco-dev.10duke.net/user/info</value>
      </setting>
      <setting name="ClientID" serializeAs="String">
        <value>SampleAppWinForms</value>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="RedirectUri" serializeAs="String">
        <value>oob:SampleApp</value>
      </setting>
      <setting name="Scope" serializeAs="String">
        <value>openid profile email</value>
      </setting>
      <setting name="StoreAuthorization" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowRememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowInsecureCerts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SignerKey" serializeAs="String">
        <value>-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA3IXrO+Np6fZE/xJmb1b/
CYvxF4BElNGeEOCpF0fMtQuJHDmCicGXlW9WRm6cDJ83kXDanibaKTkDPOWGDluk
4GweM0b28IhUZl6P31X7OTIAVJSGmsIPBfvWE7ECbHGOlzPU9E1i0AiB5E2BDh3J
Mb1Y6BKoEnb5gLSbxSfVOVsEhV+m9Wgrk5q/ONgitmh+Ghqt27bj66FXj9IdsYPa
06oPS9uE1onZLMhAwpI5XVowgU90EkUzpzXsF1SCSBIx7uS1xADpPIk1KFp+zlgC
+LibzRrJVh0yf5Xnkv6Fn7Ksv5543IfSBVKp86Xe18xNwvI5L9uYj45agTYkYxrN
1hCf2OUjyVEBuKhSZqV61R5MNAGw7/LQ31YkzmD2Pypd2COVuNyTcEHZ8iq/FzGz
HpKv3gEPriH+2UXYhRowJqtlq5+/9rTQwct+hjEfz4wH2iv0SHofhJvw6XmcBXjM
KFDi55OQpm7VvDEB172Q3mX0rkdTcWB6m2D39KXmVU9ymDGQxJZAW8vR87u94Amd
qyV7e+oAGFVtk1/ivDbC+yHNqiqrq7XrmigiNiym1J9yqSFrRX84XaCpIoGg6j00
7h2Q5/Eol6UULpzjlHOEVH1hxNNKqypfOVkQjpR+CWXWFoMWP1BvlFwKZieKiqNi
fZLpxsofUYpuym9Rx1+KHB8CAwEAAQ==
-----END PUBLIC KEY-----</value>
      </setting>
    </Tenduke.Client.WinFormsSample.Properties.Settings>
  </applicationSettings>
</configuration>