<h1>User info</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!userInfo"><em>Loading...</em></p>

<table class='table' *ngIf="userInfo">
    <thead>
        <tr>
            <th>Field name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sub</td>
            <td>{{ userInfo.sub }}</td>
        </tr>
        <tr>
            <td>given_name</td>
            <td>{{ userInfo.given_name }}</td>
        </tr>
        <tr>
            <td>family_name</td>
            <td>{{ userInfo.family_name }}</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{ userInfo.email }}</td>
        </tr>
    </tbody>
</table>
