<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tenduke.Client.WPFSample.NetFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <Tenduke.Client.WPFSample.NetFramework.Properties.Settings>
            <setting name="AuthzUri" serializeAs="String">
                <value>https://genco-dev.10duke.net/user/oauth20/authz</value>
            </setting>
            <setting name="TokenUri" serializeAs="String">
                <value>https://genco-dev.10duke.net/user/oauth20/token</value>
            </setting>
            <setting name="UserInfoUri" serializeAs="String">
                <value>https://genco-dev.10duke.net/user/info</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>SampleAppWPF</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="RedirectUri" serializeAs="String">
                <value>oob:SampleApp</value>
            </setting>
            <setting name="Scope" serializeAs="String">
                <value>openid profile email</value>
            </setting>
            <setting name="StoreAuthorization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowInsecureCerts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SignerKey" serializeAs="String">
                <value>https://genco-dev.10duke.net/user/.well-known/jwks.json</value>
            </setting>
        </Tenduke.Client.WPFSample.NetFramework.Properties.Settings>
    </applicationSettings>
</configuration>